<style type = "text/css">
body {
  font-size: 30px; }
</style>

<% if user_signed_in? %>
<% if current_user.admin? %>
<% @users.each do |user| %>
<b>Nick: </b> <label> <%= user.username %> </label> <br>
<b>E-mail: </b> <label> <%= user.email %> </label >
<%= link_to "Blokuj", registration_path(user), class: "btn btn-small btn-default", data: { confirm: "Napewno?" }, method: :delete %>
<%= link_to "Edytuj", edit_user_registration_path,  class: "btn btn-small btn-default" %>
  <br> <br>
<% end %>
<% end %>
<% end %>
