<!--<h1> Opowiastki </h1> -->

<%= @stories.each do |story| %>
<b>Autor: </b> <label> <%= story.auth %> </label> <br>
<b>Tytuł:</b> <label> <%= story.title %> </label <br>
<p> <%= story.body %> </p>
<% end %>
